# editor files
.idea/*

# cruft
*.pyc

# virtualenv
venv/*

# local dev
local_settings.py
credentials*json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
