# editor files
.idea/*
.vscode/

# cruft
*.pyc

# virtualenv
venv/*

# local dev
local_settings.py
credentials*json
*local_settings*.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# log
*slacktunes.log

#tests
test.db
