alembic==1.0.9
appdirs==1.4.3
appnope==0.1.0
asn1crypto==0.24.0
backcall==0.1.0
certifi==2017.4.17
cffi==1.12.2
chardet==3.0.3
click==6.7
cryptography==2.6.1
decorator==4.3.0
Flask==1.0.2
Flask-Migrate==2.4.0
Flask-SQLAlchemy==2.2
fuzzywuzzy==0.16.0
google-api-python-client==1.6.2
httplib2==0.10.3
idna==2.5
ipdb==0.11
ipython==6.4.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10.1
Mako==1.0.9
MarkupSafe==1.0
oauth2client==4.1.0
packaging==16.8
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.8.2
ptyprocess==0.6.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.19
Pygments==2.2.0
PyMySQL==0.9.3
pyparsing==2.2.0
python-dateutil==2.8.0
python-editor==1.0.4
python-Levenshtein==0.12.0
redis==3.2.1
requests==2.21.0
rsa==3.4.2
simplegeneric==0.8.1
six==1.10.0
spotipy==2.4.4
SQLAlchemy==1.1.10
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.24.1
uWSGI==2.0.18
wcwidth==0.1.7
Werkzeug==0.15.2
